* {
    font-family: 'Varela Round', sans-serif;
   
}

h3, h4 {
    color: #2d007e;
    font-weight: bolder;
}

span {
    color: #2d007e;
    font-weight: lighter;
}

#userProfileBlock, #profileFollowsMain {
    background-color: #eef7ff;
    border: solid #2d007e;
    border-radius: 10px;
}

#userProfilePFP {
    border: solid #2d007e;
    background-color: white;
}

#FollowButton {
    border-radius: 10px;
    background: white;
    border: solid #2d007e;
    color: #2d007e;
    font-size: 20px;
    font-weight: bolder;
}